            <ul>
            <% search_damages.each do |search_damage| %>
              <% damage_price = (search_damage.item.price * search_damage.amount / 100 ).round(2) %>
              <li class="item item-syouhi">
                <span>固有ID: <%= search_damage.id %></span>
                <ul>
                  <li class="itemdata-s"><span>Date: </span><%= search_damage.date %></li>
                  <li class="itemdata-s"><span>アイテム名: </span><%= search_damage.item.name %></li>
                  <li class="itemdata-s"><span>消費量: </span><%= search_damage.amount %>%</li>
                  <li class="itemdata-s"><span>価格計算: </span><%= damage_price %>円</li>
                  <% comment = "" %>
                  <% unless search_damage.comment.nil? %>
                  <% comment = search_damage.comment %>
                  <% end %>
                  <li class="itemdata-l"><span>備考: </span><%= comment %></li>
                </ul>
                <div>
                  <%= link_to 'この情報を編集', edit_item_path(search_damage.id) %>
                  <%= link_to 'この情報を削除', item_path(search_damage.id), method: 'delete', data: { confirm: "気は確かですか？" } %>
                </div>
              </li>
            <% end %>
            </ul>