<%= form_with url: search_path, method: :get, remote: true do |f| %>
  <%= f.date_select("search", {start_year: 2022, use_month_numbers: true, discard_day: true, include_blank: true}) %>
  <%= f.submit '検索', class: 'btn btn-primary'  %>
<% end %>

<div id="search_result">
  <% if @search_items.present? %>
      <%= render partial: 'shared/search', locals: {search_items: @search_items, rest: @rest} %>
  <% end %>
</div>

          <h2>今月の買い物金額は<%= @all_price %>円です</h2>

          <h2>週ごとの買い物</h2>
          <div class="block-items">
            <% (@week_num + 1).times do |i| %>
              <% from = @sunday - (7 * i) %>
              <% to = from + 6 %>
              <% items = @items.where(date: from..to) %>
              <h3><%= i %>週前の買い物</h3>
              <ul>
                <% items.each do |item| %>
                  <%= render partial: 'shared/itemloop', locals: {item: item, rest: @rest} %>
                  <%= puts item %>
                <% end %>
              </ul>
            <% end %>
          </div>
          <h2>月ごとの買い物</h2>
          <div class="block-items">
            <%  %>
          </div>
        </div>
        <div class="block-fullwidth">
          <h2>今月の消費金額は333円です</h2>
          <div class="block-items">
            <ul>
              <li class="item item-syouhi">
                <span>number:12345678</span>
                <ul>
                  <li class="itemdata-s"><span>Date: </span>2/1</li>
                  <li class="itemdata-s"><span>アイテム名: </span>にんじん</li>
                  <li class="itemdata-s"><span>消費量: </span>100%</li>
                  <li class="itemdata-s"><span>消費計算Price: </span>332円</li>
                  <li class="itemdata-l"><span>備考: </span>コメントコメントコメントコメントコメント</li>
                </ul>
              </li>
              <li class="item item-syouhi">
                <span>number:12345678</span>
                <ul>
                  <li class="itemdata-s"><span>Date: </span>2/1</li>
                  <li class="itemdata-s"><span>Name: </span>にんじん</li>
                  <li class="itemdata-s"><span>消費量: </span>100%</li>
                  <li class="itemdata-s"><span>消費計算Price: </span>332円</li>
                  <li class="itemdata-l"><span>Comment: </span>コメントコメントコメントコメントコメント</li>
                </ul>
              </li>
              <li class="item item-syouhi">
                <span>number:12345678</span>
                <ul>
                  <li class="itemdata-s"><span>Date: </span>2/1</li>
                  <li class="itemdata-s"><span>Name: </span>にんじん</li>
                  <li class="itemdata-s"><span>消費量: </span>100%</li>
                  <li class="itemdata-s"><span>消費計算Price: </span>332円</li>
                  <li class="itemdata-l"><span>Comment: </span>コメントコメントコメントコメントコメント</li>
                </ul>
              </li>
              <li class="item item-syouhi">
                <span>number:12345678</span>
                <ul>
                  <li class="itemdata-s"><span>Date: </span>2/1</li>
                  <li class="itemdata-s"><span>Name: </span>にんじん</li>
                  <li class="itemdata-s"><span>消費量: </span>100%</li>
                  <li class="itemdata-s"><span>消費計算Price: </span>332円</li>
                  <li class="itemdata-l"><span>Comment: </span>コメントコメントコメントコメントコメント</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>