<!DOCTYPE html>
<html lang="Ja">
  <head>
    <meta name="viewport" content="width=device-width">
    <title>SyoumouKanri</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <%= render 'shared/header' %>
    <main>
      <div id="inner-main" class="inner">
    <%= yield %>
      </div>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
